<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

    <!-- Bootstrap CSS --> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    <title>Online Scheduling Tool</title>
  </head>
  <body>
    <main role="main" class="container-fluid" >
      <div class="row">
        <button type="button" class="btn btn-primary" data-toggle="modal" onclick="onClickedSave()"><i class="fa-solid fa-plus mr-2"></i>Save</button>
      </div>      
      <div class="row justify-content-center mt-5 mb-5">
        <div style="width: 48%;"><div  id="main"></div></div>
        <div style="width: 10%;">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="width: 100% !important;"><i class="fa-solid fa-plus mr-2"></i>Add New Staff</button>
          <div id="users"></div>
        </div>
      </div>
    </main>


    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Staff</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form autocomplete="off" onsubmit="onSubmitNewStaff(event)" id="userAddForm">
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Staff name:</label>
                    <input type="text" class="form-control" id="txt-staff-name">
                  </div>
                <div class="form-group">
                    <label for="txt-postalcode">Postal Code</label>
                    <input type="text" class="form-control" id="txt-postalcode">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="txt-address">Building, Street, and etc</label>
                        <input type="text" class="form-control" id="txt-address">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="txt-unitno">Floor/Unit Number</label>
                        <input type="text" class="form-control" id="txt-unitno">
                      </div>
                </div>
                <div class="form-group">
                    <label for="status-list" class="col-form-label">Status:</label>
                    <select class="custom-select" id="status-list">
                        <option value="NA" selected>Choose...</option>
                        <option value="AC">Trained in Amenity Center</option>
                        <option value="FB">Trained in F&B</option>
                        <option value="GAS">Trained as GAS</option>
                      </select>
                </div>
                     
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary"  >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="./js/ScheduleTableConfig.js"></script>
    <script src="./js/User.js"></script>
    <script src="./js/ManageSchedule.js"></script>
  </body>
</html>