<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <!-- Bootstrap CSS --> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"/>
    
    <link href="./css/style.css" rel="stylesheet">
    <title>Online Scheduling Tool</title>
  </head>
  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Online Scheduling Tool</h5>
    
  
      <a class="btn btn-outline-primary" href="/logout">Logout</a>
    </div>
    <div class="container-fluid">
      
        <div class="row justify-content-center">
            
            <div style="width: 75%;">
             
                    <div class="form-row align-items-center">
                        <div class="col-auto mt-3">
                            <div class="col form-group">
                                <label for="status-list" class="col-form-label">Starting Week:</label>
                                <div class="input-group date" id="datetimepicker1" >
                                    <input type="text" class="form-control" />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto" id="version-col">
                            
                            <label for="status-list" class="col-form-label">Versions:</label>
                            <select class="custom-select" id="versions-list" onChange="onSelectedVersionChange()">
                             
                            </select>
                        </div>
                        <div class="col-auto mt-4">
                            <!-- <button type="button" class="btn btn-light btn-md mr-2" onclick="onClickedSearch()"><i class="fa fa-search mr-2"></i>Search</button> -->
                            <button type="button" id="btn-save" class="btn btn-primary btn-md mr-2" data-toggle="modal" onclick="onClickedSave()"><i class="fa fa-floppy-o mr-2"></i>Save</button>
                            <button type="button" id="btn-publish" class="btn btn-danger btn-md" data-toggle="modal" onclick="onClickedPublish()"><i class="fa fa-paper-plane-o mr-2"></i>Publish</button>
                        </div>
                    </div>
              
                   
                <div class="table-responsive" id="schedule"></div>
            </div>
            <div style="width: 10%;" class="ml-2">
                <button type="button" class="btn btn-info mb-2" data-toggle="modal" data-target="#exampleModalCenter" style="width: 100% !important;"><i class="fa-solid fa-plus mr-2"></i>Add New Staff</button>
                <div id="users"></div>
                <div class="mt-5">
                    <span style="font-weight: bold;font-size:20px;">Status</span>
                    <div class="list-group-item">
                        <div class="row mb-2">
                            <div style="width: 25px;height:25px;" class="bg-warning mr-2"></div><span>Trained in Amenity Center</span>
                        </div>
                        <div class="row mb-2">
                            <div style="width: 25px;height:25px;" class="bg-primary mr-2"></div><span>Trained in F & B</span>
                        </div>
                        <div class="row">
                            <div style="width: 25px;height:25px;" class="bg-success mr-2"></div><span>Trained in GAS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Remove staff
                    </div>
                    <div class="modal-body">
                        Are you sure want to remove?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger"   id="confirm-yes">Yes</button>
                    </div>
                </div>
            </div>
        </div>

          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add New Staff</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form autocomplete="off" onsubmit="onSubmitNewStaff(event)" id="userAddForm">
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Staff name:</label>
                      <input type="text" class="form-control" id="txt-staff-name">
                  </div>
                    <div class="form-group">
                      <label for="txt-email" class="col-form-label">Email:</label>
                      <input type="text" class="form-control" id="txt-email" autocomplete="off">
                    </div>
                    <div class="form-group">
                      <label for="txt-password" class="col-form-label">Password:</label>
                      <input type="text" class="form-control" id="txt-password">
                    </div>
                      
                      <div class="form-group">
                        <label for="txt-phone" class="col-form-label">Phone:</label>
                        <input type="text" class="form-control" id="txt-phone">
                      </div>
                      <div class="form-group">
                          <label for="txt-postalcode">Postal Code</label>
                          <input type="text" class="form-control" id="txt-postalcode">
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-8">
                              <label for="txt-address">Building, Street, and etc</label>
                              <input type="text" class="form-control" id="txt-address">
                            </div>
                            <div class="form-group col-md-4">
                              <label for="txt-unitno">Floor/Unit Number</label>
                              <input type="text" class="form-control" id="txt-unitno">
                            </div>
                      </div>
                      <div class="form-group">
                          <label for="status-list" class="col-form-label">Status:</label>
                          <select class="custom-select" id="status-list">
                              <option value="NA" selected>Choose...</option>
                              <option value="AC">Trained in Amenity Center</option>
                              <option value="FB">Trained in F&B</option>
                              <option value="GAS">Trained as GAS</option>
                            </select>
                      </div>
                       
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary"  >Save changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>


          <div class="modal fade" id="message-box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Warning</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>  
                <div class="modal-body">
                  <p id="txt-message"></p>
                </div>
              
              </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   
   <script>
        $(document).ready(function() {
  
            $('#datetimepicker1').datepicker({
                autoclose: true,  
                format: 'dd/mm/yyyy',
                daysOfWeekDisabled: "0,2,3,4,5,6"
            })
            .on('changeDate',  onSelectedDateChange)
        })
      </script>
    <script src="./js/Helper.js"></script>
    <script src="./js/SetVariable.js"></script>
    <script src="./js/utils.js"></script>
    <script src="./js/PlannerTableConfig.js"></script>
    <script src="./js/ManagePlanner.js"></script>    
    <script src="./js/User.js"></script>
   
  </body>
</html>